body, .rst-content .toctree-wrapper>p.caption, h1, h2, h3, h4, h5, h6, legend {
    font-family: Helvetica Neue,Arial,sans-serif;
}

.wy-side-nav-search {
    background: none;
}

.wy-nav-content, div.body {
    max-width: 1024px;
}

p {
    font-size: 18px;
}
