-r requirements.txt
-e .

mixer               >= 5.1.6
pytest
pytest-pythonpath
webtest
webob               <  1.5

muffin_peewee
muffin_session      >= 0.0.5
muffin_oauth        >= 0.0.9
muffin_jinja2       >= 0.0.4
muffin_admin        >= 0.0.7
wtf-peewee
