-r requirements.txt
-e .

mixer               == 5.4.1
pytest              == 2.8.7
pytest-sugar        == 0.5.1
pytest-pythonpath   == 0.7
webtest==2.0.23

muffin-peewee==1.0.16
muffin_session      >= 0.0.5
muffin_oauth        >= 0.0.9
muffin_jinja2       >= 0.0.4
muffin_admin        >= 0.0.7
wtf-peewee          == 0.2.6
