extends base.jade


block base-content

    h1 Hello #{user and user.email or 'anonimous'}!

    h3 The application #{ MUFFIN }

    if not user
      p Login as user (user@muffin.io:pass)
      p Or as admin   (admin@muffin.io:pass)
      p Or login from &nbsp;
        a(href="/github") Github

    if user.is_super
      p See &nbsp;
        a(href='/admin/user') Admin application
