{% extends "base.html" %}


{% block base_content %}

    <h1> Hello {{ user and user.email or 'anonimous' }}! </h1>

    <h3> The application {{ MUFFIN }} </h3>

    {% if not user %}
        <p> Login as user <i>(user@muffin.io:pass)</i> </p>
        <p> Login as admn <i>(admin@muffin.io:pass)</i> </p>
        <p> Or login from <a href="/oauth/github"> Github </a> </p>
    {% endif %}

    {% if user.is_super %}
        <p> See <a href="/admin/user"> Admin interface </p>
    {% endif %}

{% endblock %}
