nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      a.navbar-brand(href='#') Muffin
    #navbar.collapse.navbar-collapse
      ul.nav.navbar-nav
        li.active: a(href='#') Home
        li: a(href='#about') About
