nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      a.navbar-brand(href='#') Muffin
    #navbar.collapse.navbar-collapse
      ul.nav.navbar-nav
        li(class="#{view == 'index' and 'active'}"): a(href='/') Home
        if user
          li(class="#{view == 'profile' and 'active'}"): a(href='/profile') Profile
        if user.is_super
          li: a(href='/admin') Admin

      if user
        ul.nav.navbar-nav.navbar-right
          li: a(href="/logout") Logout
      else
        form.navbar-form.navbar-right(role="search", action="/login", method="POST")
          .form-group
            input.form-control(type="text", name="email", placeholder="Email")
          .form-group
            input.form-control(type="password", name="password", placeholder="Password")
          button.btn.btn-default(type="submit") Login
