aiofile
uvloop; implementation_name == 'cpython'

# Tests
pytest
pytest-aio[curio,trio]   >= 1.1.1
pytest-mypy; implementation_name == 'cpython'
types-ujson; implementation_name == 'cpython'

# Build
pre-commit
bump2version
