name: release

on:
  workflow_run:
    workflows: [tests]
    branches: [master]
    types: [completed]

jobs:
  publish:
    runs-on: ubuntu-latest
    if: github.event.workflow_run.conclusion == 'success'
    steps:
      - uses: actions/checkout@main
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Build Package
        run: |
          uv build
          uv publish --token ${{ secrets.pypy }}
